.navigation {
    display: flex;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;

    &__menu {
        position: relative;
    }

    &__logo {
        padding: 10px;
    }

    &__links {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        pointer-events: auto;
    }
    
    &__list {
        list-style: none;
        margin: 0;
        padding: 10px;
    }

    &__item {
        margin-bottom: 10px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__link {
        text-decoration: none;
        color: #333;
        font-size: 18px;
    }

    &__link:hover {
        color: #007BFF;
    }

    &__menu:hover &__links {
        display: block;
    }
}