@font-face {
    font-family: 'Gallient';
    src: url(./public/fonts/GallientRegular.ttf) format(ttf);
    font-family: 'Gilroy';
    src: url(./public/fonts/Gilroy.otf) format(otf);
}

.navigation {
    display: flex;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    &__menu {
        position: relative;
    }

    &__logo {
        padding: 10px;
    }

    &__links {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        pointer-events: auto;
    }
    
    &__list {
        list-style: none;
        margin: 0;
        padding: 10px;
    }

    &__item {
        margin-bottom: 10px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__link {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 18px;
    }

    &__link:hover {
        color: #007BFF;
    }

    &__menu:hover &__links {
        display: block;
    }
}

.main {
    width: 100%;
    height: 100%;
}

.product-intro {
    display: flex;
    margin-left: 200px;
    align-items: center;
    position: relative;

    &__titel  {
        font-size: 64px;
        font-family:'Gallient';
        color: rgb(31, 63, 104);
        line-height: 74px;
        width: 520px;
        font-weight: 400;
    }

    &__info {
        font-family: 'Gilroy';
        font-size: 22px;
        color: rgb(31, 63, 104);
        width: 460px;
        opacity: 60%;
        line-height: 26px;
        margin-top: 30px;
    }

    &__button {
        margin-top: 100px;
        filter: drop-shadow(5px 10px 20px rgba(90, 152, 208, 1));
    }

    &__image { 
        z-index: -1;
        position: absolute;
        left: calc(40%);
    }

    
}

.button {
    font-family: "Gilroy";
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 152, 208);
    border-color: transparent;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
}

@media (min-width: 1920px) {
    .navigation {
        width: 1520px;
    }

    .product-intro {
        margin-left: 300px;
    }
}